<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Dansmagazin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dansmagazin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>net.dansmagazin.mobile.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dansmagazin</string>
				<string>com.googleusercontent.apps.715936767290-bfqnn4arpk5vkka6f703i0ippnfhr9bs</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>715936767290-bfqnn4arpk5vkka6f703i0ippnfhr9bs.apps.googleusercontent.com</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Bilet QR kodlarını okutmak için kamera erişimi gerekir.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Etkinlik kapak fotoğrafı seçebilmek için galeri erişimi gerekir.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Seçilen fotoğrafları uygulamada kullanabilmek için izin gerekir.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Etkinlikleri yerel takviminize ekleyebilmek için takvim erişimi gerekir.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Etkinlikleri yerel takviminize ekleyebilmek için takvim erişimi gerekir.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Etkinlikleri yerel takviminize ekleyebilmek için takvim erişimi gerekir.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
